Source: libdist-zilla-plugin-perlhubupload-perl
Section: perl
Priority: optional
Maintainer: Sergei Svistunov <sergei-svistunov@yandex.ru>
Build-Depends: debhelper (>= 8),
 libmoose-perl, libdist-zilla-perl, libfile-pushd-perl, libdpkg-perl, libpath-class-perl, devscripts, dput
Build-Depends-Indep: perl
Standards-Version: 3.9.4

Package: libdist-zilla-plugin-perlhubupload-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libmoose-perl, libdist-zilla-perl, libfile-pushd-perl, libdpkg-perl, libpath-class-perl, devscripts, dput
Description: Build and upload source package to perlhub.ru
